examples/7_result.mp4 filter=lfs diff=lfs merge=lfs -text
examples/8_video.mp4 filter=lfs diff=lfs merge=lfs -text
examples/1_result.mp4 filter=lfs diff=lfs merge=lfs -text
examples/2_video.mp4 filter=lfs diff=lfs merge=lfs -text
examples/6_result.mp4 filter=lfs diff=lfs merge=lfs -text
examples/7_video.mp4 filter=lfs diff=lfs merge=lfs -text
examples/8_result.mp4 filter=lfs diff=lfs merge=lfs -text
examples/3_video.mp4 filter=lfs diff=lfs merge=lfs -text
examples/5_video.mp4 filter=lfs diff=lfs merge=lfs -text
examples/4_result.mp4 filter=lfs diff=lfs merge=lfs -text
examples/5_result.mp4 filter=lfs diff=lfs merge=lfs -text
examples/1_video.mp4 filter=lfs diff=lfs merge=lfs -text
examples/3_result.mp4 filter=lfs diff=lfs merge=lfs -text
examples/6_video.mp4 filter=lfs diff=lfs merge=lfs -text
examples/2_result.mp4 filter=lfs diff=lfs merge=lfs -text
examples/4_video.mp4 filter=lfs diff=lfs merge=lfs -text
assets/MovieGenAudioBenchSfx/video_with_audio/0.mp4 filter=lfs diff=lfs merge=lfs -text
assets/MovieGenAudioBenchSfx/video_with_audio/4.mp4 filter=lfs diff=lfs merge=lfs -text
assets/MovieGenAudioBenchSfx/video_with_audio/6.mp4 filter=lfs diff=lfs merge=lfs -text
assets/MovieGenAudioBenchSfx/video_with_audio/7.mp4 filter=lfs diff=lfs merge=lfs -text
assets/MovieGenAudioBenchSfx/video_with_audio/1.mp4 filter=lfs diff=lfs merge=lfs -text
assets/MovieGenAudioBenchSfx/video_with_audio/2.mp4 filter=lfs diff=lfs merge=lfs -text
assets/MovieGenAudioBenchSfx/video_with_audio/3.mp4 filter=lfs diff=lfs merge=lfs -text
assets/MovieGenAudioBenchSfx/video_with_audio/5.mp4 filter=lfs diff=lfs merge=lfs -text
assets/MovieGenAudioBenchSfx/video_with_audio/8.mp4 filter=lfs diff=lfs merge=lfs -text
assets/MovieGenAudioBenchSfx/video_with_audio/9.mp4 filter=lfs diff=lfs merge=lfs -text
assets/data_pipeline.png filter=lfs diff=lfs merge=lfs -text
assets/model_arch.png filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
